{% extends "afrik_app/base.html" %}

{%block title%}Mes Cours {% endblock %}

{% block content %}
{% if not user.is_authenticated %}
  Connectez à votre compte Personnel
{% endif %}
<h1 class="text-center">Mes Cours</h1>
<div class="row">
<div class="col col-md-6 mx-auto">
  {% for course in object_list %}
    <div class="course-info">
      <h3>{{ course.title }}</h3>
      <p>
        <a href="{% url "course:course_edit" course.id%}">Edit</a>
        <a href="{% url "course:course_delete" course.id %}">Delete</a>
        <a href="{% url "course:course_module_update" course.id %}">Edit modules</a>
        {% if course.modules.count > 0 %}
          <a href="{% url "course:module_content_list" course.modules.first.id %}">Manage contents</a>
        {% endif %}
      </p>
    </div>
  {% empty %}
    <p>Vous n'avez crée aucun cours pour le moment.</p>
  {% endfor %}
  <p>
    <a href="{% url "course:course_create" %}" class="button"> Créer un nouveau cours</a>
  </p>
</div>
</div>
{% endblock %}
