{% extends 'dakuoblog/entete.html'%}
{% load staticfiles %}
{% block content%}

<div class="container-fluid mt-5">
<h1 class="text-center py-3">Galerie</h1>
<div class="row">
{% for obj in object_list %}
  <div class="col-12 col-md-2 mx-auto">
    <div class="card" style="width: 18rem;">
      {% if obj.photo %}
        <a href="{{ obj.get_absolute_url }}">
          <img src="{{ obj.photo.url }}" class="card-img-top" alt="{{ obj.name }} logo" width="50%">
        </a>
      {% endif %}
      <!--<div class="card-body">
        <h5 class="card-title">{{ obj.name }}</h5>
        <p class="card-text">{{ obj.description }}</p
        <a href="{{ obj.get_absolute_url }}" class="btn btn-primary">Visualiser</a>
      </div>>-->
    </div>
  </div>
  {% if forloop.counter|divisibleby:4 %}
    </div>
    <div>
      <hr>
    </div>
    <div class="row">
  {% endif %}
{% endfor %}
</div>
{% include "pagination.html" with page=page_obj %}
{% endblock %}
