{% extends "afrik_app/base.html" %}
{% load course %}
{%block title%}
  Module {{module.order|add:1}}: {{module.title}}
{% endblock %}

{% block content %}
{% with course=module.course %}
<div class="text-center">
  <h2>Course "{{course.title}}"</h2>
</div>
<div class="row">
  <div class="col-12 col-md-3 bg-light">

    <h3>Modules</h3>
    <ul id="modules">
      {% for m in course.modules.all %}
        <li data-id="{{ m.id }}" {% if m == module %} class="selected" {% endif %} >
          <a href="{% url "course:module_content_list" m.id %}">
            <span>
              Module <span class="order">{{ m.order|add:1}}</span>
            </span>
            <br>
            {{ m.title }}
          </a>
        </li>
      {% empty %}
        <li>No modules yet.</li>
      {% endfor %}
    </ul>
    <p class="btn btn-primary"><a href="{% url "course:course_module_update" course.id%}">Edit modules</a></p>
  </div>
  <div class="col-12 col-md-6 mx-auto">
    <h2>Module {{ module.order|add:1}}: {{ module.title }}</h2>
    <h3>Module contents</h3>
    {{module.Contents.all}}
    <div id="module-contents" class="bg-light">
      {% for content in module.contents.all %}
      <div data-id="{{ content.id }}">
        {% with item=content.item %}
          <p>{{ item }}({{ item|model_name }})</p>
          <div class="row">
            <div class="col-3 btn btn-primary">
          <a href="{% url "course:module_content_update" module.id item|model_name item.id%}">Edit</a>
          </div>
          <div class="col-3 mx-auto ">
              <!--<a href="{% url "course:module_content_delete" content.id %}">Sup</a>-->
          <form action="{% url "course:module_content_delete" content.id %}" method="post">
            <input type="submit" value="Supprimer" class="btn btn-primary ">
            {% csrf_token %}
          </form>
          </div>
          </div>
        {% endwith %}
        <hr>
      </div>
      {% empty %}
        <p>This module has no contents yet.</p>
      {% endfor %}
    </div>
    <h3 class="text-center">Add new content</h3>
    <div class="row">
      <div class="col-2 mx-auto btn btn-primary">
        <a href="{% url "course:module_content_create" module.id "text"%}">Text</a>
      </div>
      <div class="col-2 mx-auto btn btn-primary">
        <a href="{% url "course:module_content_create" module.id "image"%}">Image</a>
      </div>
      <div class="col-2 mx-auto btn btn-primary">
        <a href="{% url "course:module_content_create" module.id "video"%}">Video</a>
      </div>
      <div class="col-2 mx-auto btn btn-primary">
        <a href="{% url "course:module_content_create" module.id "file"%}">File</a>
      </div>

    </div>
  </div>
</div>
{% endwith %}
{% endblock %}

{% block domready %}
$('#modules').sortable({
  stop: function(event, ui) {
    modules_order = {};
    $('#modules').children().each(function(){
      //update the order field
      $(this).find('.order').text($(this).index() + 1);
      // associate the modules's id with its order
      modules_order[$(this).data('id')] = $(this).index();
    });
    $.ajax({
      type: 'POST',
      url: '{% url "course:module_order"%}',
      contentType: 'Application/json; charset=utf-8',
      dataType: 'json',
        data: JSON.stringify(modules_order)
    });
  }
});
$('#module-contents').sortable({
  stop: function(event, ui){
    contents_order = {};
    $('#module-contents').children().each(function(){
      // associate the module's id with its order
      contents_order[$(this).data('id')] = $(this).index();
    });
    $.ajax({
      type: 'POST',
      url: '{% url "course:content_order"%}',
      contentType: 'application/json; charset=utf-8',
      dataType: 'json',
        data: JSON.stringify(contents_order),
    });
  }
});
{% endblock %}
