{% extends "afrik_app/base.html" %}

{%block title%}
  {% if object %}
    Edit content "{{object.title}}"
  {% else %}
    Add a new content
  {% endif %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col col-md-6 mx-auto">
<h1>
  {% if object %}
    Edit content "{{object.title}}"
  {% else %}
    Add a new content
  {% endif %}
</h1>
  <h2>Course info</h2>
  <form action="" method="post" enctype="multipart/form-data">
    {{form.as_p}}
    {% csrf_token %}
    <p><input type="submit" value="Save content"></p>
  </form>
  </div>
</div>
{% endblock %}
