:root{
  --main-ui-color: #2e6192;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #504f4f;
    font-family: 'Lato','Arial',sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.row {
    margin: 0 auto;
    max-width: 1140px;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), url(../img/accueil.jpg);
    background-size: 700px 400px;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 80vh;
    position: relative;
    margin-bottom: 50px;
}

h1 {
    padding: 20px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--main-ui-color);
    font-size: 100%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}
h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--main-ui-color);
}
h2:after {
    display: block;
    height: 2px;
    background-color: var(--main-ui-color);
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
}
h3 {
    text-align: left;
    margin-bottom: 10px;
    color: var(--main-ui-color);
}
.btn:link,
.btn:visited{
    display: inline-block;
    padding: 15px 30px;
    font-weight: 300;
    text-decoration: none;
    border-bottom-style:groove;
    border-radius: 200px;
    color: #341f97;
    margin-bottom: 10px;
    transition: background-color 0.5s, border 0.5s, color 0.5s;

}
.btn-b1:link,
.btn-b1:visited
.btn-b2:visited,
.btn-b2:link,
.btn-b3:link,
.btn-b3:visited{
    width: 160px;
    height: 55px;
    background-color: var(--main-ui-color);
    border: 2px solid;
    color: #fff;
}
.btn:hover,
.btn:active{
    background-color: #fff;
    color: var(--main-ui-color);
}
/*----------------------------------------------------Menu--------------------------------------------------------------------------*/
.logo_tuwaxu{
    position: relative;
    float: left;
    width: auto;
    height: 150px;
    padding: 0;
    background-size: cover;
    display: block;
    margin-top: 20px;
}
.nav_drop_menu{
    padding: 0;
    text-align: right;
    position: relative;
    width: 1010px;
    left: 15%;
    top: 17%
}
.nav_drop_menu > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: inline-block;
    background: var(--main-ui-color);
    border-radius: 5px;
}
.nav_drop_menu > ul > li {
    float: left;
    width: 150px;
    height: 65px;
    line-height: 65px;
    position: relative;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}
.nav_drop_menu > ul > li:hover{
    background: #54a0ff;
    border-radius: 5px;
}
ul.drop-menu{
    position: absolute;
    top:100%;
    left: 0;
    width: 100%;
    padding: 0;
}
ul.drop-menu li {
    background: rgba(84, 160, 255, 0.72);
    color: #fff;
}
ul.drop-menu li:hover{
    background-color: #fff;
    color: var(--main-ui-color);
    border: 2px solid;
    border-radius: 5px;
}
ul.drop-menu li {
    display: none;
}
li:hover > ul.drop-menu li {
    display: block;
}
.header_main_nav_sticky {
    background-color: rgba(255, 255, 255, 0.98);
    position: fixed;
    list-style: none;
    width: 100%;
    z-index: 9999;
    box-shadow: 0 2px 2px #efefef;
    padding: 0;
}
.header_main_nav_sticky .logo_tuwaxu {
    margin-top: 10px;
    height: 80px;
}
.header_main_nav_sticky .nav_drop_menu > ul {
    padding: 0;
    margin-bottom: 10px;
    top: 5%;
    height: 60px;
}
/* menu button when size of screen is small */
.menu_button_small_size {
    float: right;
    margin-right: 20px;
    margin-top: 0px;
    display: none;
}
/* button to close menu */
.close_menu_button {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    display: none;
}
/*----------------------------------------------------side bar----------------------------------------------------------------------*/
.nav_side_bar_btns{
    padding: 10px;
    display: block;
    width: 200px;
    height: 60%;
    display: block;
    padding-right: 10px;
    position: absolute;
    top: 20%;
    left: 2%;
    background-image: white; /*linear-gradient(to left bottom,rgb(250, 250, 250),  rgb(250, 250, 250));*/
    border-radius: 0% 50% 350% 0%;
    perspective: 800;
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}
.nav_logo {
    width: 70px;
    height: 70px;
    display: block;
    position: absolute;
    top: 8%;
    left: 15%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: rotateY(-360deg);
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}
.nav_social_icons {
    width: 55px;
    height: 44px;
    display: block;
    position: relative;
    top: 0%;
    left: 35%;
    background: hsla(312, 51%, 41%, 0.0);
    cursor: pointer;
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}
.nav_social_icons .topBar {
    width: 55px;
    height: 2px;
    display: block;
    background: var(--main-ui-color);
    position: absolute;
    top: 10px;
    transform: rotate(0);
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}
.nav_social_icons .middleBar {
    width: 55px;
    height: 2px;
    display: block;
    background: var(--main-ui-color);
    position: absolute;
    top: 20px;
    transform: rotate(0);
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}
.nav_social_icons .bottomBar {
    width: 35px;
    height: 2px;
    display: block;
    background: var(--main-ui-color);
    position: absolute;
    top: 30px;
    transform: rotate(0);
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}
.navigation__btns {
  float: right;
  margin-top: 20px;
  opacity: 0;
  visibility: hidden;
  transform: rotateY(-90deg) translateX(-300px);
  transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}

.navigation__btns li {
  list-style: none;
  text-align: right;
}


.nav_side_bar_btns .navigation__social {
    width: 100%;
    height: 30px;
    padding-right: 45px;
    position: absolute;
    bottom: 18%;
}
.nav_side_bar_btns .navigation__social-ul {
    float: right;
    list-style: none;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transform: rotateY(-90deg) translateX(-300px);
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}
.nav_side_bar_btns .navigation__social-ul li {
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    transform: translateY(35px);
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
}
.nav_side_bar_btns .social-icon {
    width: 30px;
    height: 30px;
    display: block;
    margin-left: 15px;
}


.nav_side_bar_btns-open {
  width: 250px;
  height: 60%;
  display: block;
  background-image: linear-gradient(to left bottom,rgb(255, 255, 255),  rgb(248, 247, 247));
  position: absolute;
  left: 0;
  border-radius: 0% 1% 1% 0%;
  box-shadow: 0 2px 2px #efefef;
}

.nav_side_bar_btns-open .nav_logo {
  left: 68%;
  transform: rotateY(0);
}

.nav_side_bar_btns-open .nav_social_icons {
  left: 80%;
}

.nav_side_bar_btns-open .navigation__btns {
  opacity: 1;
  visibility: visible;
}

.nav_side_bar_btns-open .navigation__social-ul {
  opacity: 1;
  visibility: visible;
}

.nav_side_bar_btns-open .topBar {
  top: 21px;
  transform: rotate(45deg);
}

.nav_side_bar_btns-open .middleBar {
  width: 0;
  top: 22px;
  opacity: 0;
  visibility: hidden;
  transform: translateX(30px);
}

.nav_side_bar_btns-open .bottomBar {
  width: 55px;
  top: 21px;
  transform: rotate(-45deg);
}

.nav_side_bar_btns-open .navigation__btns {
  transform: rotateY(0) translateX(0);
}

.nav_side_bar_btns-open .navigation__social-ul {
  transform: rotateY(0) translateX(0);
}

.nav_side_bar_btns-open .navigation__social-ul li {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.nav_side_bar_btns-open .navigation__social-ul li:nth-child(1) {
  transition-delay: .5s;
}

.nav_side_bar_btns-open .navigation__social-ul li:nth-child(2) {
  transition-delay: .46s;
}

.nav_side_bar_btns-open .navigation__social-ul li:nth-child(3) {
  transition-delay: .43s;
}

.nav_side_bar_btns-open .navigation__social-ul li:nth-child(4) {
  transition-delay: .4s;
}

/*----------------------------------------------------------Container---------------------------------------------------------------*/
.container {
    margin: 10px auto;
    margin-top: 10px;
    position: relative;
    width: 70%;
    height: 0;
    padding-bottom: 40%;
    background: var(--main-ui-color);
    border: solid 40px rgba(44, 44, 44, 0.78);
    transform: translate(90%,70%);
}
.slider_img {
    position: absolute;
    width: 100%;
    height: 30%;
    transform: translate(100%,70%);
}
.slider_img img {
    width: 100%;
    height: 150%;
    transform: translate(90%,70%);
}
/*-------------------------------------------------------SectionCoursEnLigne-----------------------------------------------------*/
.section-cours-en-ligne {
    background-image: linear-gradient(to left top,rgb(235, 235, 235),  rgb(248, 247, 247));
    overflow: hidden;
}

.section-cours-en-ligne_div{
  height: 60vh;
}

.section-cours-en-ligne-purpose {
    text-align: center;
    margin-bottom: 20px;
}
.box img {
    width: 50%
}
.cours-terminal,
.cours-permiere,
.cours-seconde,
.cours-autres {
    height: 80vh;
    background-color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    transform: scale(1);
    opacity: 0.8;
    transition: transform 0.5s;
}
.cours-terminal:hover,
.cours-permiere:hover,
.cours-seconde:hover,
.cours-autres:hover {
    transform: scale(1.08);
    opacity: 1;
    transition: transform 0.5s, opacity 0.3s;
}
.btn-scl:link,
.btn-scl:visited {
    display: inline-block;
    padding: 15px 30px;
    font-weight: 300;
    text-decoration: none;
    border-bottom-style:groove;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 10px;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.btn-scl1:link,
.btn-scl1:visited {
    margin-top: 80px;
    background-color: var(--main-ui-color);
}

.btn-scl2:link,
.btn-scl2:visited {
    margin-top: 127px;
    background-color: var(--main-ui-color);
}

.btn-scl3:link,
.btn-scl3:visited {
    margin-top: 40px;
    background-color: var(--main-ui-color);
}

.btn-scl4:link,
.btn-scl4:visited {
    margin-top: 107px;
    text-align: center;
    background-color: var(--main-ui-color);
}

.btn-scl:hover,
.btn-scl:active{
    background-color: #fff;
    color: var(--main-ui-color);
}

/*----------------------------------------------------------SectionCours------------------------------------------------------------*/
.section-prof-particulier {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-around;
    background-image: linear-gradient(to left bottom,rgb(235, 235, 235),  rgb(248, 247, 247));
}
.cours-domicile-sub-1 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    background-color: #fff;
    border-radius: 20px;
    margin-right: 10px;
    transform: scale(1)
    transition: transform 0.5s;
}
.cours-domicile-sub-1:hover,
.cours-domicile-sub-2:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
}

.cours-domicile-sub-1__heading {
    align-self: center;
}
.cours-domicile-sub-1__content {

}
.cours-domicile-sub-1__img__real {
    display: block;
    padding: 20px;
    width: 100%;
}
.cours-domicile-sub-1_btn {
    align-self: center;
}
.cours-domicile-sub-2 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex: 1;
    border-radius: 20px;
    background-image: linear-gradient(to right top, #fff, #fff);
    margin-left: 10px;
    transform: scale(1)
    transition: transform 0.5s;
}
.cours-domicile-sub-2__img__real {
    display: block;
    padding: 20px;
    width: 100%;
}
.cours-domicile-sub-2__heading {
    align-self: center;
}
.cours-domicile-sub-2__content {

}
.cours-domicile-sub-2_btn {
    align-self: center;
}
.cours-domicile-sub-btn:link,
.cours-domicile-sub-btn:visited {
    display: inline-block;
    padding: 15px 50px;
    font-weight: 300;
    text-decoration: none;
    border-bottom-style:groove;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 10px;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
}
.cours-domicile-sub-btn:link,
.cours-domicile-sub-btn:visited {
    text-align: center;
    background-color: var(--main-ui-color);
}

.cours-domicile-sub-btn:hover,
.cours-domicile-sub-btn:active{
    background-color: #fff;
    color: var(--main-ui-color);
}

/*----------------------------------------------------------SectionCommentaire-----------------------------------------------------------*/

.Commentaire_form{
  width: 50%;
  padding: 30px;
}

/*----------------------------------------------------------SectionFooter-----------------------------------------------------------*/
.name_form {
    margin: 10px;
    padding: 20px;
}
input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=radio] {
    margin: 10px 5px 10px 0;
}

*:focus {outline: none;}
.form-message {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
    color: #333;
}
.success {
    background-color: rgba(50, 232, 35, 0.9);}
.error {background-color: rgba(232, 28, 28, 0.95);}
/*----------------------------------------------------------SectionFooter-----------------------------------------------------------*/
footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}


footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}


/*********** Second destination Section for map *************/
.destination_section {
    height: auto;
    padding: 10px;
}
.destination_section > .container > h1,
.destination_section > h2 {
    color: var(--site-main-color);
}


.destination_section > .container {
    /*max-width: 800px;*/
    margin: auto;
}

/* Specific mapael css class are below
 * 'mapael' class is added by plugin
*/

.destination_section > .mapael .map {
    position: relative;
}

.destination_section > .mapael .mapTooltip {
    position: absolute;
    background-color: #fff;
    moz-opacity: 0.70;
    opacity: 0.70;
    filter: alpha(opacity=70);
    border-radius: 10px;
    padding: 10px;
    z-index: 1000;
    max-width: 200px;
    display: none;
    color: #343434;
}

.destination_section > .mapael .areaLegend {
    margin-bottom: 20px;
}
