{% load static %}
<div id="sidebar" class="bg-light">
   <nav class="header_main_nav">
     <div class="row">
       <div class="col-md-2 mx-auto">
         <a class="menu_button_small_size js__menu_button_small_size">
           <i class="ion-navicon-round"></i>
         </a>
         <a href="{% url "accueil"%}">
           <img src="{% static "img/logo_afrikattitude-01.jpg" %}" alt="logo afrikattitude" class="logo_tuwaxu"> <br>
         </a>
       </div>
       <div class="col-md-7 py-5 ml-3 ">

      <nav class="nav_drop_menu">
          <ul>
              <li>Mathematiques
                  <ul class="drop-menu men-#{i}">
                      <li><a href="{% url 'tarifs'%}">Cours en ligne</a></li>
                      <li>Cours de soutien</li>
                      <li>Programme</li>
                      <li>Applications</li>
                  </ul>
              </li>
              <li>Physique &mdash;Chimie
                  <ul class="drop-menu men-#{i}">
                      <li>Cours en ligne</li>
                      <li>Cours de soutien</li>
                      <li>Programme</li>
                      <li>Applications</li>
                  </ul>
              </li>
              <li>Informatique
                  <ul class="drop-menu men-#{i}">
                      <li>Cours en ligne</li>
                      <li>Notre programme</li>
                      <li>Applications</li>
                  </ul>
              </li>
              <li>Anglais
                  <ul class="drop-menu men-#{i}">
                      <li>Cours en ligne</li>
                      <li>Cours de soutien</li>
                      <li>Programme</li>
                      <li>English club</li>
                  </ul>
              </li>
            </ul>
          </nav>
          </div>
          <div class="row">

          </div>
          <div class="col-md-2 py-5  mt-auto ">
            {% if user.is_authenticated %}
            <a href="{% url "course:manage_course_list"%}" class="btn btn-info">Gerer</a>
            <a href="{% url "course:logout"%}" class="btn btn-info">Deconnectez</a>
            {% else %}
            <a href="{% url "course:login"%}" class="btn btn-info"> Ressources</a>
            {% endif %}

          </div>
        </div>
      </nav>
    </div>
