{% extends 'entete.html'%}
{% load staticfiles %}
{% block content%}


<!-- About Section -->
<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="container">

    <!-- About Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-white"> A propos </h2>

    <!-- Icon Divider -->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <!-- About Section Content -->
    <div class="row">
      <div class="col-lg-6 ml-auto">
        <p class="lead">Ange DAKOUO

          Né en 1990 à Abidjan, Côte d’Ivoire. Vit et travaille à Bamako.
          Ange Dakouo, de son nom complet Losso Marie-Ange Dakouo, est diplômé du Conservatoire des Arts et Métiers Multimédia de Bamako  d’où il sort major de sa promotion en 2017. Ange a d’abord travaillé de manière figurative avant de développer son travail actuel, qu’il nomme les  « gris-gris tissés », à partir de 2018.
          Il a reçu une distinction en 2015, notamment, lauréat du premier prix de la 9ème édition du concours national « Talents de la cité » dans la catégorie peinture.
          Ange est un des fondateurs du collectif Tim’Arts avec lequel il expose régulièrement à Bamako, Ségou, Dakar. Son travail a par exemple été présenté au Salon d’Art Contemporain de Ségou, Ségou ’Art en 2016 et 2019 ; récemment  dans le cadre de l’exposition « Les tisseurs de liens » à la BICIM, Bamako et cette année même il participe à la Foire AKAA, dans l’exposition « Hier est la mémoire de demain ».
          Ange compte à son actif deux expositions solos, respectivement, « Les boites rouges » à Taxi Bamako en 2018 et « Demain sera meilleur » à la Villa Soudan en 2019.
          <br>
          Artiste protéiforme et curieux, Ange Dakouo travaille le dessin, la peinture, la sculpture ou encore la vidéo, testant toujours plus de techniques et de matériaux qu’il colle, frotte ou tisse.
          En observant le travail d’Ange Dakouo, nous pourrions penser à une sculpture de textile, rappelant celles d’Abdoulaye Konate ou les installations d’El Anatsui.
          Elève d’Abdoulaye Konate au conservatoire des arts et métiers multimédia Balla Fasséké Kouyaté de Bamako, Ange Dakouo admire la maitrise de l’équilibre, la justesse des nuances et les jeux de couleurs de son mentor.
        </p>
      </div>
      <div class="col-lg-6 mr-auto">
        <p class="lead">
        La technicité méticuleuse des œuvres d’El Anatsui lui donne cette volonté de pousser ses recherches toujours plus loin et l’envie de se dépasser. Car en regardant de plus près le travail d’Ange Dakouo, nous découvrons un travail fin, soigne et singulier.
        Fils d’imprimeur, Ange Dakouo s’empare tout naturellement du journal en papier pour créer ses ≪ gris-gris ≫.
        <br>

        Trace du passe, archive d’une mémoire, le journal qui les compose fige l’histoire et la transporte dans le temps. Ephémère et fragile, cette matière est pour l’artiste à l’image de la vie humaine. Car c’est un ≪ univers harmonieux ≫ des liens tisses montrant l’interaction entre les uns et les autres que souhaite représenter Ange Dakouo. Tissés les uns aux autres, ces petits rectangles rappellent l’amulette protectrice de l’enfant nouveau-né. Il est commun, même systématique, qu’à la naissance d’un enfant, celle-ci soit attachée à son poignet ou à son cou. Les ≪ gris-gris ≫ d’Ange Dakouo rappellent aussi les amulettes protectrices qui composent les tenues des chasseurs traditionnels en Afrique de l’Ouest.
        C’est d’ailleurs sur l’idéologie ésotérique, de cette confrérie que l’artiste a travaillé pour son mémoire de fin d’études.
        Il s’est particulièrement intéressé a l’esthétique de ces tenues traditionnelles qui influenceront finalement une grande partie de son travail et font de ses ≪ gris-gris ≫ une œuvre d’une belle maturité.
        <br>
        © Armelle DAKOUO
        </p>
      </div>
    </div>
  </div>
</section>





{% endblock %}
