
{% extends 'entete.html'%}
{% load staticfiles %}
{% block content%}

  <!-- Masthead -->
  <header class="masthead bg-primary bg-primary-sam text-white text-center">
    <div class="container d-flex align-items-center flex-column">

      <!-- Masthead Avatar Image -->
      <img class="masthead-avatar mb-5" src="{% static 'img/avataaars.jpg'%}" alt="">

      <!-- Masthead Heading -->
      <h1 class="masthead-heading text-uppercase mb-0">Ange DAKOUO </h1>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Masthead Subheading -->
      <p class="masthead-subheading font-weight-light mb-0"> <strong> Artiste - Plasticien </strong></p>

    </div>
  </header>



  {% endblock %}
