{% extends 'entete.html'%}

{% block content%}
<!---->
<section class="page-section bg-primary text-white mb-0 " >
<div class="container d-flex align-items-center flex-column">
<div class="exposition-page">

              <h2> Ange DAKOUO </h2>

          Né en 1990 à Abidjan, en Côte-d’Ivoire <br>
          Vit et travaille à Bamako, Mali  <br>




           Expositions personnelles  <br>

          2019	- Demain sera meilleur, Villa Soudan, Bamako, Mali  <br>

          2018	- Les boites rouges, Taxi-Bamako, Bamako, Mali  <br>



          Expositions Collectives  <br>

          2019	- Hier est la mémoire d’aujourd’hui, Espace Commines, AKAA, Paris, France  <br>
          - Arkane Afrika, 5è édition, Casablanca, Maroc <br>
          	- Silence Coupable, Exposition collective Tim’Arts, Espace Siif’Arts, Bamako-Mali  <br>
          - Les Tisseurs de liens, BICIM Amie des Arts, 2è édition, Bamako, Mali  <br>
          - Quartier Libre, Espace Siif’arts, Bamako, Mali    <br>
          - Pavillon des Jeunes artistes maliens, IN de Ségou’Art, Ségou, Mali  <br>

          2018	- Jeunes Talents, Espace Siif’arts, Bamako, Mali  <br>
          - Esthétiques en partage au-delà des géographies, Les Ateliers SAHM, OFF de Dak’art  <br>
          - Couleurs de Ségou, Centre Culturel Kôrè, OFF de la Biennale de Dakar  <br>
          - Exposition en duo, Festival sur le Niger, Ségou, Mali  <br>
          - EQUATIONS NOMADES, A la rencontre de Hassan Massoudy / Institut Français du Mali  <br>

          2017	- Parcours de couleurs, OFF des Rencontres de Bamako, Tim’Arts, Bamako, Mali  <br>
          	- Exposition en duo, Fondation Festival sur le Niger, Ségou, Mali  <br>
          	- Je te présente ma ville, Institut Français de Brazzaville, Congo  <br>
          	- Group Show, Musée National du Mali  <br>
          	- Kouma, Festival sur le Niger, Ségou, Mali  <br>
          	- L’aube, Centre Soleil d’Afrique, Bamako, Mali  <br>
          	   (Restitution de l’atelier de création en vidéo d’art / 6è édition du FAIVA)  <br>

          2016	- Ségou’Art, Salon d’art contemporain du Mali, Ségou  <br>
          	- Facebook, Exposition en duo, Collectif Tim’Arts, Bamako  <br>
          	- Honorer nos héros, journée internationale des casques bleus, Bamako, Mali  <br>
          	- Cercle Panafricain des Artistes (PACA), OFF de la Biennale de Dakar, Musée Boribana  <br>
          	- 31è salon des artistes pour la liberté, Salons Curnonsky, Angers, France  <br>
          2015	- Les Frontières, Musée du district de Bamako, Mali  <br>
          	- Ames de mérite, Collectif Tim’ Arts, Galerie MEDINA, Bamako, Mali  <br>

          2014	- Indépendance, je me libère et j’évolue, Collectif Tim’Arts, Bamako, Mali  <br>
          	- KAWRAL, Alliance Française, Mopti, Mali  <br>

          2013	- Une guerre pour la paix, Conservatoire des Arts de Bamako, Mali  <br>



          Distinctions  <br>

          2017	- Major du diplôme d’études artistiques générales – Conservatoire des Arts de Bamako  <br>

          2015	- Lauréat de la 9è édition du concours national « Talents de la cité »  <br>


          Résidences  <br>

          2019	- Résidence Arkane, Casablanca, Maroc  <br>

          2018	- Résidence Quartier Libre, Espace Siif’Arts, Bamako, Mali  <br>

          2017	- Fondation Festival sur le Niger, Programme Kôrè Qualité #3, Ségou, Mali  <br>

          2016	- Fondation Festival sur le Niger, Programme Kôrè Qualité #3, Ségou, Mali  <br>

          2014	- Résidence Kwaral, Mopti, Mali  <br>


          Collections  <br>

              • Collection Lepoultier, Bamako, Paris  <br>
              • Collection Villa Soudan, Bamako, Mali  <br>
              • Thierry Barbé, Bruxelles, Belgique  <br>
              • Roelof Haveman, Pays-Bas  <br>
              • Thomas P. Cazenave, Paris, France  <br>
              • Bonaventure Soh Bejeng Ndikung, Berlin, Allemagne  <br>
</div>
</div>
</section>
{% endblock %}
